<!-- content -->
<div id="content" class="app-content" role="main">
  <ol class="breadcrumb">
    <li><a routerLink="/home">首页</a></li>
    <li><a routerLink="/home/home/live/class">课程</a></li>
    <li class="active">发布课程</li>
  </ol>
  <div class="app-content-body">
    <div class="wrapper-sm">
      <div class="row">
        <!--广告位信息  -->
        <div class="col-lg-12">
          <div class="panel ">
            <div class="panel-body">col-lg-12</div>
          </div>
        </div>

        <div class="col-lg-8 ">
          <div class="panel ">
            <div class="panel-body">

              <form class="form-horizontal" method="get">
                <div class="form-group">
                  <label class="col-sm-2 control-label">课程名称</label>
                  <div class="col-sm-10">
                    <input type="text" name="classname"  class="form-control rounded">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">课程适合人群</label>
                  <div class="col-sm-10">
                    <input type="text" name="suit"  class="form-control">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">开课时间</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>