<!-- content -->
<div id="content" class="app-content" role="main">
  <ol class="breadcrumb">
    <li><a routerLink="/home">首页</a></li>
    <li><a (click)="goBack()">论坛</a></li>
    <li class="active">帖子</li>
  </ol>
  <div class="app-content-body ">
    <div class="wrapper-sm">
      <div class="row">
        <!--广告位信息  -->
        <!-- <div class="col-lg-12">
          <div class="panel ">
            <div class="panel-body">col-lg-12</div>
          </div>
        </div> -->
        <!--广告位信息  -->
        <!--论坛内容的位子  -->
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="panel ">
            <div class="panel-body">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>{{forum.title}}</h2>
                <div class="col-lg-12">
                  <div class="col-sm-1">
                    <a routerLink="/home/home/profile/{{forum.author}}" class=" pull-left thumb-sm avatar m-l-n-md">
                      <img src="{{forum.avatorPath}}" class="img-circle" alt="...">
                  </a>
                  </div>
                  <div class="col-sm-10">
                    <div class="m-b-xs">
                      <a routerLink="/home/home/profile/{{forum.author}}" class="h5">{{forum.avator}}</a> {{forum.fromTime}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      <a class="text-muted m-xs" data-toggle="dropdown"><i class="icon-share " style="font-size:20px" ></i></a>                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                      <ul class="dropdown-menu list-inline">
                        <li><a (click)="share('weichat')" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-wechat" aria-hidden="true"></i></a>微信朋友圈</li>
                        <li class="divider"></li>
                        <li><a (click)="share('qq')" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-qq" aria-hidden="true"></i></a>QQ空间圈</li>
                        <li class="divider"></li>
                        <li><a (click)="share('weibo')" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-weibo" aria-hidden="true"></i></a>分享微博</li>
                      </ul>
                      <a (click)="collect()" class="text-muted m-xs" data-toggle="tooltip" data-placement="top" title="收藏帖子的数量"><i class="icon-star" style="font-size:20px">{{forum.collect}}</i></a>                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a (click)="support()" class="text-muted m-xs" data-toggle="tooltip" data-placement="top" title="赞帖子的数量"><i class="glyphicon glyphicon-thumbs-up icon" style="font-size:20px">{{forum.support}}</i></a>
                      <a class="text-muted m-xs" data-toggle="tooltip" data-placement="top" title="帖子已阅读数"><i class="icon-eye " style="font-size:20px">{{forum.read}}</i> </a>                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button *ngIf="!isSelfForum" (click)="addAttention(forum.author)" class="btn m-b-xs w-xs" [ngClass]="{'btn-info': hadAttent==false,'disabled':hadAttent==true}"
                        data-toggle="tooltip" data-placement="top" title="关注后，实时获得帖子动态">{{hadAttent?'已关注':'+关注'}}</button>                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button *ngIf="isSelfForum" routerLink="/home/home/issuebyid/{{forum._id}}" class="btn m-b-xs w-xs btn-primary" data-toggle="tooltip"
                        data-placement="top" title="编辑发布的帖子">编辑</button>
                      <button *ngIf="isAdmin" (click)="topup(forum._id)" class="btn m-b-xs w-xs btn-primary" >置顶</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                  <video *ngIf="isOnlyVideo" id="my-video" class="video-js col-md-12" controls preload="auto" style="height:480px" 
                  poster="{{forum.images[0]}}" data-setup="{}">
                    <source src="{{forum.videos[0]}}" type='video/mp4'>
                  </video>
                <div *ngIf="!isOnlyVideo" [innerHTML]="forum.contentSafe"></div>
              </div>
              <!--论坛内容的位子  -->
              <!--论坛回复的位子  -->
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="col-sm-12">
                  <div ui-jq="froalaEditor" name="forumComment" id="forumComment" [(ngModel)]="commentContent" ngDefaultControl></div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-10">
                    <button type="submit" (click)="submitComment()" class="btn btn-info">发表评论</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--论坛回复的位子  -->
          <!--论坛下方广告的位子  -->
          <div id="forumCommentDiv">
            <div class="col-lg-12 col-md-12 col-sm-12 wrapper bg-white b-b" style="padding:10px" *ngIf="commentList.length > 0">
              <span>用户热评:({{commentNumber}})</span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 padder" *ngIf="commentList.length > 0">
              <div class="streamline b-l b-info m-l-lg m-b padder-v">
                <div *ngFor="let rep of commentList">
                  <a routerLink="/home/home/profile/{{rep.author}}" class="pull-left thumb-sm avatar m-l-n-md">
                <img *ngIf="rep.avatorPath!=''" src="{{rep.avatorPath}}" class="img-circle" alt="{{rep.avator}}">
                
                <img *ngIf="rep.avatorPath==''" src="./public/img/PersonIcon.png" class="img-circle" alt="{{rep.avator}}">
              </a>
                  <div class="m-l-lg">
                    <div class="m-b-xs">
                      <a routerLink="/home/home/profile/{{rep.author}}" class="h6">{{rep.avator}}</a>
                      <span class="text-muted m-l-sm pull-right">
                    {{rep.fromTime}}
                  </span>
                    </div>
                    <div class="m-b">
                      <div [innerHTML]="rep.contentSafe"></div>
                      <div class="m-t-sm">
                        <a (click)="replyComment(rep._id,rep.avator)" class="text-muted m-xs" data-toggle="modal" data-target="#commentbymodal"><i class="icon-action-redo"></i></a>
                        <a (click)="supportComment(rep._id)" class="text-muted m-xs"><i class="glyphicon glyphicon-thumbs-up">{{rep.support}}</i></a>
                      </div>
                    </div>
                  </div>
                  <!-- .comment-reply -->
                  <div class="m-l-lg" *ngFor="let subCom of rep.subComments">
                    <a routerLink="/home/home/profile/{{subCom.author}}" class="pull-left thumb-sm avatar">
                  <img src="{{subCom.avatorPath}}" alt="...">
                  </a>
                    <div class="m-l-xxl panel b-a">
                      <div class="panel-heading pos-rlt">
                        <span class="arrow left pull-up"></span>
                        <span class="text-muted m-l-sm pull-right">
                      {{subCom.fromTime}}
                    </span>
                        <a routerLink="/home/home/profile/{{subCom.author}}" class="h6">{{subCom.avator}}</a>
                        <div [innerHTML]="subCom.contentSafe"></div>
                      </div>
                    </div>
                  </div>
                  <!-- / .comment-reply -->
                </div>
              </div>
            </div>
            <div class="figure_loading" *ngIf="isloading">正在为你加载更多...</div>
          </div>
        </div>

        <!--广告位信息  -->
        <div class="col-lg-4 col-md-12 col-sm-12 wrapper bg-white b-b" style="padding:10px">
          <div class="channel">
            <h3 class="channel_title">相关阅读</h3>
            <div class="channel_list">
              <ul class="channel_list_show" *ngFor="let for of forumList">
                <li><a routerLink="/home/home/content/{{for._id}}" title="{{for.title}}">{{for.title}}</a>
                  <div class="channel_subtitle"><span>{{for.avator}}</span><span>{{for.fromTime}}</span></div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!--论坛下方广告的位子  -->
        <!--回复comment  -->
        <div class="modal fade" id="commentbymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@{{commentAvatorName}}</h4>
              </div>
              <div class="modal-body">
                <div class="col-sm-12">
                  <div ui-jq="froalaEditor" name="Commentconent" id="Commentconent" ngDefaultControl></div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" (click)="repSubmit()" class="btn btn-info">回复评论</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>