@charset "UTF-8";

.frs,.mini_main em,.mini_right i {
	background: url(http://x.autoimg.cn/car/images/headericonNew.png) no-repeat
}

.dropdown,.moreli_active,.topchadiv_box,.topchadiv_top {
	background: url(http://x.autoimg.cn/car/images/wwshadow_bg.png)
}

.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0
}

.mini_main,.minitop {
	height: 26px;
	background-color: #f9f9f9;
	position: relative
}

.mini_right ul li.nopd {
	padding: 0
}

.minitop {
	line-height: 26px;
	border-bottom: solid 1px #efefef;
	border-top: solid 1px #f9f9f9;
	z-index: 11000;
	width: 100%
}

.minitop a {
	color: #3b5998
}

.minitop a:hover {
	color: #d60000;
	text-decoration: none
}

.minitop a:link,.minitop a:visited {
	text-decoration: none;
	outline: 0
}

.mini_main {
	color: #9f9f9f;
	text-align: left;
	z-index: 220
}

.mini_left,.mini_right {
	position: relative
}

.mini_left {
	float: left;
	padding-left: 5px;
	z-index: 30
}

.mini_right {
	float: right;
	text-align: right;
	z-index: 25
}

.mini_left ul li,.mini_right ul li {
	float: left;
	position: relative
}

.mini_left ul li span {
	padding: 0 5px
}

.mini_right .frs {
	float: right;
	background-position: -335px 7px;
	font-family: Arial
}

.mini_right ul.frs-login {
	background-image: none;
	padding-right: 12px
}

.mini_right ul.frs-login a {
	padding: 0 2px
}

.mini_right i {
	display: inline-block;
	width: 16px;
	height: 15px;
	float: left;
	position: relative;
	top: 6px;
	top: 5px\9
}

.mini_right .icon-more {
	background-position: -320px -87px;
	margin-right: 2px
}

.mini_right li a:hover .icon-more,.moreli_active .icon-more {
	background-position: -320px -108px
}

.mini_right .icon-club {
	background-position: -320px -34px;
	margin-right: 5px
}

.mini_right li a:hover .icon-club,.moreli_active .icon-club {
	background-position: -320px -60px
}

.moreli_title {
	float: left;
	border-right: solid 1px #f9f9f9;
	padding-left: 1px
}

.moreli_active {
	border: none;
	padding-left: 0
}

.moreli_active a {
	border-left: solid 1px #ccd3e4;
	border-right: solid 1px #ccd3e4;
	background-color: #F9F9F9
}

.moreli_active a:hover,.moreli_active a:link,.moreli_active a:visited {
	color: #d60000
}

.mini_main .moreli_active em {
	background-position: -240px -176px
}

.mini_main em {
	display: inline-block;
	width: 7px;
	height: 4px;
	font-size: 0;
	background-position: -240px -170px
}

.moreli_title:hover em {
	background-position: -240px -176px
}

.mini_main .moreli_title em {
	position: relative;
	top: 12px;
	margin-left: 5px
}

.moreli {
	position: relative
}

.moreli_title {
	height: 26px;
	position: relative;
	z-index: 20;
	text-align: left
}

.moreli_title em,.moreli_title i,.moreli_title span {
	float: left;
	cursor: pointer
}

.moreli_title span.info {
	display: inline-block;
	height: 11px;
	padding: 2px 3px;
	text-align: center;
	line-height: 11px;
	background-color: #fe6600;
	border-radius: 2px;
	color: #fff;
	position: relative;
	top: 5px;
	margin: 0 1px 0 5px;
	font-weight: 700
}

.bbsli_title a,.moreli_title a {
	display: block;
	height: 26px
}

.moreli_title a {
	display: inline-block;
	padding: 0 15px
}

.cslbtt a {
	margin-right: 8px
}

.topchadiv {
	position: absolute;
	right: -2px;
	top: 27px;
	z-index: 10;
	display: none
}

.topchadiv-dw02,.topchadiv-dw03 {
	_right: -3px
}

.topchadiv_box,.topchadiv_top {
	padding: 0 2px 2px 0;
	clear: both
}

.topchadiv_top {
	width: 4px;
	padding-bottom: 0;
	position: absolute;
	right: 0;
	top: -27px;
	background-color: #fafafa
}

.topchadiv_top_con {
	width: 2px;
	height: 27px
}

.topchadiv_box {
	position: relative;
	top: -1px
}

.topchadiv-dw01 .topchadiv_box {
	width: 110px
}

.topchadiv-dw02 .topchadiv_box {
	min-width: 130px;
	overflow: visible;
	_width: 130px
}

.topchadiv-dw03 .topchadiv_box {
	width: 210px
}

.topchadiv_con {
	border: 1px solid #ccd3e4;
	background-color: #FFF;
	line-height: 20px;
	text-align: left;
	padding: 5px 0
}

.topchadiv_con a {
	display: block;
	height: 27px;
	line-height: 27px;
	white-space: nowrap;
	padding: 0 15px;
	overflow: hidden
}

.topchadiv_con a:hover,.topchadiv_con a:link,.topchadiv_con a:visited {
	color: #666
}

.topchadiv_con a span {
	display: inline-block
}

.topchadiv_con a span.cn {
	color: #666;
	float: left
}

.topchadiv_con a span.ck {
	cursor: pointer;
	float: right
}

.mini_right .frs li .topchadiv_con a:hover {
	color: #3b5998;
	background-color: #f9f9f9
}

.linedc {
	border-top: dotted 1px #cecece;
	height: 1px;
	clear: both;
	font-size: 0;
	margin: 5px;
	line-height: 0
}

.topchadiv-dw02 .topchadiv_con a {
	min-width: 120px;
	overflow: visible
}

.floattop,.header {
	width: 100%;
	min-width: 990px
}

.topchadiv-dw03 .topchadiv_con a {
	padding: 0 10px
}

.topchadiv-dw03 .topchadiv_con a:hover,.topchadiv-dw03 .topchadiv_con a:link,.topchadiv-dw03 .topchadiv_con a:visited {
	color: #3b5998
}

.floattop {
	position: fixed;
	_position: absolute;
	top: 0;
	z-index: 1000
}

.header {
	height: 40px;
	border-bottom: 3px solid #3b5998;
	background-color: #FFF
}

.header .header-main {
	width: 990px;
	height: 40px;
	overflow: hidden
}

.header .logo {
	float: left;
	padding: 3px 0 0 2px
}

.header .logo a {
	display: block
}

.header .header-nav {
	float: right;
	padding-top: 10px
}

.header .header-nav li {
	height: 30px;
	float: left;
	text-align: center;
	padding-left: 5px
}

.header .header-nav li a {
	display: block;
	min-width: 40px;
	_width: 40px;
	height: 29px;
	line-height: 29px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #ccd3e4;
	border-bottom: 0;
	background-color: #fafbfc;
	word-break: keep-all;
	white-space: nowrap
}

.header .header-nav li.current a {
	border: 1px solid #3b5998;
	border-bottom: 0;
	background-color: #3b5998
}

.header .header-nav li.current a:link,.header .header-nav li.current a:visited {
	color: #FFF;
	text-decoration: none
}

.header .header-nav li.current a:hover {
	color: #FFF;
	text-decoration: underline
}

.citypop a:link,.citypop a:visited,a.greylink:link,a.greylink:visited {
	text-decoration: none
}

.floatleft {
	position: fixed;
	_position: absolute;
	left: 0;
	z-index: 300;
	top: 81px
}

.letter-list {
	height: 110px
}

.letter-list ul {
	width: 190px;
	overflow: hidden
}

.letter-list ul li {
	width: 24px;
	height: 24px;
    float: left;
    list-style: none;
	padding: 0 3px 3px 0
}

.letter-list ul li a {
	display: block;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #ccd3e4;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700
}

.letter-list ul li a:link,.letter-list ul li a:visted {
	color: #3b5998;
	background-color: #fafbfc
}

.letter-list ul li a:hover {
	color: #3b5998;
	text-decoration: none;
	background-color: #f0f0f0
}

.letter-list ul li.current a:hover,.letter-list ul li.current a:link,.letter-list ul li.current a:visited {
	color: #fff;
	border: 1px solid #3b5998;
	background-color: #3b5998
}

.letter-list ul li.disabled a,.letter-list ul li.disabled a:hover,.letter-list ul li.disabled a:link,.letter-list ul li.disabled a:visited {
	color: #ccc;
	background-color: #fafbfc;
	cursor: default
}

.cartree {
	overflow-y: auto;
	background-color: #f9f9f9;
	position: relative
}

.cartree dl dd a {
	overflow: hidden
}

.content .column {
	overflow: visible
}

.contentright {
	position: relative;
	left: 190px;
	_left: 200px;
	z-index: 400;
	background-color: #fff
}

.citypop {
	position: absolute;
	top: 28px;
	left: -12px;
	padding: 2px;
	z-index: 1000;
	font-size: 12px;
	line-height: 26px;
	display: none
}

.citypop a:hover {
	color: #d60000
}

.citypop .citypop-content {
	width: 485px;
	position: relative;
	z-index: 1;
	border: 1px solid #ccd3e4;
	background-color: #fff
}

.citypop .citypop-content .citypop-close {
	display: inline-block;
	width: 29px;
	height: 29px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fafbfc;
	border-left: solid 1px #cfd5e5
}

.citypop .citypop-content .citypop-content-top {
	height: 29px;
	line-height: 29px;
	padding-left: 8px;
	position: relative;
	background-color: #fcfcfc;
	border-bottom: solid 1px #ccd3e4
}

.citypop .citypop-content a.citypop-close:hover {
	background-color: #3b5998
}

.citypop .citypop-arrow {
	overflow: hidden;
	position: absolute;
	z-index: 2;
	font-family: "\5b8b\4f53"
}

.citypop-nb a,.citypop-scity dl dt .nu,.find-letter-list li a,.tabrank .uibox-title .font-letter {
	font-family: Arial,Helvetica,sans-serif
}

.citypop .citypop-arrow .citypop-arrow-shadow {
	filter: alpha(opacity=10);
	-moz-opacity: .1;
	opacity: .1
}

.citypop .citypop-arrow .citypop-arrow-background,.citypop .citypop-arrow .citypop-arrow-border,.citypop .citypop-arrow .citypop-arrow-shadow {
	overflow: hidden;
	position: absolute;
	font-size: 12pt
}

.citypop-bottom .citypop-arrow {
	width: 16px;
	height: 14px;
	top: -11px;
	left: 23px
}

.citypop-bottom .citypop-arrow .citypop-arrow-background,.citypop-bottom .citypop-arrow .citypop-arrow-border,.citypop-bottom .citypop-arrow .citypop-arrow-shadow {
	height: 11px
}

.citypop-bottom .citypop-arrow .citypop-arrow-border {
	top: 3px;
	color: #d0d0e8
}

.citypop-bottom .citypop-arrow .citypop-arrow-background {
	top: 4px;
	color: #f8fcff
}

.citypop-search {
	width: 140px;
	height: 22px;
	float: left;
	margin-top: 3px;
	background-position: -36px -182px;
	border: 1px solid #ccd3e4;
	background-color: #fff;
	position: relative
}

.citypop-search input {
	outline: 0;
	height: 22px;
	line-height: 22px;
	width: 118px;
	position: absolute;
	left: 22px;
	top: 0;
	border: 0;
	background-color: #fff;
	color: #b8bbc1;
	padding: 0
}

.citypop-search input.focus {
	width: 132px;
	padding: 0 4px;
	left: 0;
	color: #000
}

.citypop-hotcity {
	float: left;
	padding-left: 5px
}

.citypop-hotcity a {
	margin-left: 10px;
	display: inline-block;
	float: left
}

.citypop-nb {
	height: 28px;
	padding: 8px 6px;
	border-bottom: dotted 1px #cecfd3
}

.citypop-nb a {
	display: inline-block;
	width: 19px;
	height: 19px;
	line-height: 19px;
	border-radius: 2px;
	margin: 4px;
	font-size: 14px;
	text-align: center;
	border: 1px solid #cbddeb;
	background-color: #f0f9fe;
	float: left
}

.citypop-nb a.current:hover,.citypop-nb a.current:link,.citypop-nb a.current:visited,.citypop-nb a:hover {
	background-color: #3b5997;
	border: 1px solid #17469e;
	color: #fff
}

.citypop-scity {
	height: 255px;
	overflow-y: scroll;
	overflow-x: hidden
}

.citypop-scity dl {
	border-top: dotted 1px #cecfd3;
	margin: 0;
	overflow: hidden;
	padding: 6px 0
}

.citypop-scity .dlbg {
	background-color: #f9f9f9
}

.citypop-scity dl.dlbg-top {
	border-top: 0
}

.citypop-scity dl dd,.citypop-scity dl dt {
	float: left;
	margin: 0
}

.citypop-scity dl dt {
	width: 78px;
	color: #333;
	text-align: right;
	font-weight: 700;
	padding-top: 2px
}

.citypop-scity dl dt .nu,.citypop-scity dl dt .tx {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	float: right;
	padding: 0
}

.citypop-scity dl dt .nu {
	float: left;
	font-size: 18px;
	color: #d0d0d0;
	font-weight: 100;
	padding-left: 10px
}

.citypop-scity dl dd {
	width: 390px
}

.citypop-scity dl dd a:active,.citypop-scity dl dd a:link,.citypop-scity dl dd a:visited {
	height: 20px;
	line-height: 20px;
	display: block;
	float: left;
	padding: 0 5px;
	margin: 2px;
	white-space: nowrap
}

.citypop-scity dl dd a:hover {
	height: 20px;
	line-height: 20px;
	color: #fff;
	background-color: #ff9410
}

.citypop-scity dl dd span.disabled {
	display: block;
	height: 20px;
	line-height: 20px;
	float: left;
	padding: 0 5px;
	margin: 2px;
	color: #999
}

.citypop-scity a.current:hover,.citypop-scity a.current:link,.citypop-scity a.current:visited {
	background-color: #ff600f;
	color: #fff
}

.citypop-ct ul li a:after,.citypop-scity dl dd:after,.citypop-scity dl:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	line-height: 0
}

.citypop-ct ul li a,.citypop-scity dl,.citypop-scity dl dd {
	zoom: 1
}

.citypop-ct {
	width: 195px;
	position: absolute;
	left: -1px;
	top: 24px;
	border: 1px solid #ccd3e4;
	background-color: #fff
}

.citypop-ct .ntextdicon,.citypop-ct .zdicon {
	height: 14px;
	line-height: 14px;
	padding: 2px 0 2px 15px;
	color: #b8bbc1;
	margin-left: 5px
}

.citypop-ct ul li,.citypop-ct ul li a {
	overflow: hidden;
	height: 26px;
	line-height: 26px
}

.citypop-ct .zdicon {
	background-position: -279px -161px
}

.citypop-ct .ntextdicon {
	background-position: -280px -182px
}

.citypop-ct ul {
	padding: 0;
	margin: 0
}

.citypop-ct ul li {
	float: none;
	clear: both;
	border-top: dotted 1px #ccd3e4
}

.citypop-ct ul li a {
	display: block;
	padding: 0 12px
}

.citypop-ct ul li a:hover,.citypop-ct ul li.selected {
	background-color: #f9f9f9
}

.citypop-ct ul li span {
	float: left;
	display: inline-block
}

.citypop-ct ul li b {
	display: inline-block;
	font-weight: 100;
	color: #b8bbc1;
	float: right
}

.mini_main .orangelink,.mini_main a.orangelink:link,.mini_main a.orangelink:visited {
	color: #d60000
}

.moreli-title a {
	display: block;
	_display: inline-block;
	height: 27px;
	padding: 0 14px;
	cursor: pointer
}

.citi-title a {
	padding: 0 0 0 6px
}

.citypop .citypop-content .citypop-close i,.citypop-ct .ntextdicon,.citypop-ct .zdicon,.citypop-search,.navcar li .icon-newcar,.navcar li a,.topbar-icon {
	background: url(http://x.autoimg.cn/www/common/images/topbar-bg_20150728.png) no-repeat
}

.topbar-icon {
	display: inline-block;
	overflow: hidden
}

.topbar-icon10 {
	width: 10px;
	height: 10px
}

.topbar-icon10-sjb {
	background-position: 0 -205px
}

.moreli-title i,.moreli-title span {
	float: left;
	cursor: pointer
}

.moreli-title .topbar-icon10-sjb {
	position: relative;
	margin-left: 5px;
	top: 8px
}

.citi-title .topbar-icon10-sjb {
	margin-left: -3px
}

.citypop .citypop-content .citypop-close i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-position: -19px -365px;
	margin: 6px;
	cursor: pointer;
	line-height: 16px
}

.citypop .citypop-content .citypop-close:hover i {
	background-position: 0 -365px
}

.mini_main {
	margin: 0 auto;
	width: 990px
}

.advbox,.minitop,.uibox {
	margin-bottom: 0px
}

img {
	vertical-align: top
}

.text-through {
	text-decoration: line-through
}

.advbox {
	line-height: 0
}

.mgt10 {
	margin-top: 10px
}

.fontgrey {
	color: #666
}

.fontorange {
	color: #f60
}

.font-bold {
	font-weight: 700
}

.fn-visible {
	overflow: visible!important
}

a.greylink:link,a.greylink:visited {
	color: #666
}

a.greylink:hover {
	color: #d60000
}

a.orglink:link,a.orglink:visited {
	color: #f60
}

a.orglink:hover {
	color: #d60000
}

.caricon-list dd a,a.icon-jiajia {
	background: url(http://x.autoimg.cn/car/images/grade/rankchannel-01.png) no-repeat
}

.mini_left_logo {
	line-height: normal
}

.search02 {
	position: relative;
	z-index: 500
}

.search02 .search-pop {
	width: 288px;
	top: 23px
}

.tabrank .tab-content {
	border: 0
}

.tabrank .tab-content .tab-content-item {
	padding: 0
}

.tabrank .tab-nav ul li a,.tabrank .tab-nav ul li span {
	width: 62px
}

.tabrank .tab-nav .rank-other {
	float: left;
	cursor: pointer
}

.tabrank .tab-nav .rank-other .icon16-book3 {
	float: left;
	margin: 6px 3px 0 0
}

.carfilter {
	margin-bottom: 0
}

 .uibox-title {

	height: auto;
	line-height: 38px;
	padding: 0;
	_display: inline-block;
	font-size: 12px
}

.uibox-title .fontgrey {
	width: 70px;
	float: left;
	text-align: right
}

.filter-bar {
	width: 910px;
	float: left;
	padding: 3px 0 5px;
	font-weight: 400
}

.filter-bar .filter {
	float: left;
	*float: none;
	margin: 5px 4px 0 0;
	white-space: nowrap
}

.filter-bar .clear-all {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-top: 5px;
	float: left;
	*float: none;
	color: #ccd3e4
}

.filter-bar .clear-all a {
	margin-left: 4px
}

.carfilter .uibox-con {
	padding: 0 10px
}

.carfilter .rankcar {
	height: 57px;
	line-height: normal;
	border-bottom: 1px dotted #ccd3e4
}

.carfilter .rankcar .fontgrey {
	width: 60px;
	line-height: 57px;
	float: left;
	text-align: right;
	font-size: 14px;
	font-weight: 700
}

.pop-carfilter {
	width: 990px;
	padding-bottom: 10px;
	background-color: #FFF;
	position: fixed;
	top: 0;
	_position: absolute;
	z-index: 10000
}

.pop-carfilter .rankcar {
	padding: 0 10px;
	border: 1px solid #ccd3e4
}

.pop-carfilter .find {
	margin: 0
}

.rankcar .caricon-list {
	width: 908px;
	padding-top: 5px;
	float: left;
	text-align: center
}

.rankcar .caricon-list dd {
	height: 42px;
	float: left;
	margin-right: 10px;
	position: relative;
	z-index: 200
}

.rankcar .caricon-list dd a {
	display: block;
	padding-top: 24px;
	cursor: pointer
}

.rankcar .caricon-list dd a:hover {
	text-decoration: none
}

.rankcar .caricon-list dd a span {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 0 4px;
	white-space: nowrap;
	cursor: pointer
}

.rankcar .caricon-list dd.current a span {
	background-color: #3b5998
}

.rankcar .caricon-list dd.current a:hover,.rankcar .caricon-list dd.current a:link,.rankcar .caricon-list dd.current a:visited {
	color: #FFF;
	text-decoration: none
}

.rankcar .caricon-list dd a.nolink:hover,.rankcar .caricon-list dd a.nolink:link,.rankcar .caricon-list dd a.nolink:visited {
	color: #999;
	text-decoration: none;
	cursor: default
}

.rankcar .caricon-list dd a.nolink span {
	cursor: default;
	background-color: #FFF
}

.rankcar .caricon-list dd.cariconall {
	margin-right: 3px
}

.rankcar .caricon-list dd.cariconall a {
	display: inline-block;
	height: 19px;
	line-height: 20px;
	padding: 0;
	margin-top: 15px;
	background: 0 0
}

.rankcar .caricon-list dd.cariconall a span {
	padding: 0 7px
}

.rankcar .caricon-list dd.caricon01 {
	width: 45px
}

.rankcar .caricon-list dd.caricon01 a {
	background-position: -9px 0
}

.rankcar .caricon-list dd.caricon02 {
	width: 50px
}

.rankcar .caricon-list dd.caricon03,.rankcar .caricon-list dd.caricon04 {
	width: 64px
}

.rankcar .caricon-list dd.caricon02 a {
	background-position: -85px 0
}

.rankcar .caricon-list dd.caricon03 a {
	background-position: -159px 0
}

.rankcar .caricon-list dd.caricon05,.rankcar .caricon-list dd.caricon06 {
	width: 72px
}

.rankcar .caricon-list dd.caricon04 a {
	background-position: -238px 0
}

.rankcar .caricon-list dd.caricon05 a {
	background-position: 6px -50px
}

.rankcar .caricon-list dd.caricon06 a {
	background-position: -74px -50px
}

.rankcar .caricon-list dd.caricon07 {
	width: 70px
}

.rankcar .caricon-list dd.caricon08,.rankcar .caricon-list dd.caricon09,.rankcar .caricon-list dd.caricon10 {
	width: 68px
}

.rankcar .caricon-list dd.caricon07 a {
	background-position: -156px -50px
}

.rankcar .caricon-list dd.caricon08 a {
	background-position: -236px -50px
}

.rankcar .caricon-list dd.caricon09 a {
	background-position: 4px -100px
}

.rankcar .caricon-list dd.caricon10 a {
	background-position: -77px -100px
}

.rankcar .caricon-list dd.caricon11 {
	width: 45px
}

.rankcar .caricon-list dd.caricon11 a {
	background-position: -168px -100px
}

.rankcar .caricon-list dd.caricon12 {
	width: 64px;
	margin: 0
}

.rankcar .caricon-list dd.caricon12 a {
	background-position: -239px -100px
}

.carfilter-list dd ul li.others a:hover .icon10-down1,.rankcar .caricon-list dd a:hover .icon10-down1 {
	background-position: -180px -60px
}

.rankcar .caricon-list dd.caricon07 span {
	position: relative
}

.rankcar .caricon-list dd .icon10-down1 {
	position: absolute;
	top: 4px;
	right: -10px
}

.rankcar .dropdown {
	width: 80px;
	position: absolute;
	top: 42px;
	left: -3px;
	z-index: 50
}

.rankcar .dropdown .dropdown-content ul li a {
	padding-right: 0;
	text-align: left;
	white-space: nowrap;
	background-image: none
}

.rankcar .caricon-list dd.current .dropdown .dropdown-content ul li a:link,.rankcar .caricon-list dd.current .dropdown .dropdown-content ul li a:visited {
	color: #333
}

.rankcar .caricon-list dd.current .dropdown .dropdown-content ul li a:hover {
	color: #3b5998
}

.rankcar .caricon-list dd.current .dropdown .dropdown-content ul li.current a:hover,.rankcar .caricon-list dd.current .dropdown .dropdown-content ul li.current a:link,.rankcar .caricon-list dd.current .dropdown .dropdown-content ul li.current a:visited {
	color: #fff;
	background-color: #3b5998;
	cursor: pointer
}

.carfilter-list {
	font-size: 14px
}

.carfilter-list .fontgrey {
	width: 60px;
	line-height: 38px;
	float: left;
	text-align: right;
	font-size: 14px;
	font-weight: 700
}

.carfilter-list .name-01 {
	width: 80px
}

.carfilter-list dt {
	height: 50px;
	margin: 0 -10px;
	padding: 0 10px;
	border-bottom: 1px solid #ccd3e4
}

.carfilter-list dt .fontgrey {
	line-height: 50px
}

.carfilter-list dd {

	height: 38px;
	border-bottom: 1px dotted #ccd3e4
}

.carfilter-list dd.last-dd {
	height: 88px;
	border-bottom: 0
}

.carfilter-list dd.price-dd {
	height: 80px
}

.carfilter-list dd.price-dd .fontgrey {
	padding-top: 28px
}

.carfilter-list dd.price-dd .price-dd-choose {

	height: 80px;
	float: left
}

.carfilter-list dd.price-dd .price-dd-recom {

	height: 80px
}

.carfilter-list dd.price-dd .price-dd-recom ul li {
	width: 85px;
	margin: 0;
	padding: 5px 0;
	text-align: center
}

.carfilter-list dd.price-dd .price-dd-recom ul li.price-dd-recom-tit {
	width: auto;
	height: 60px
}

.carfilter-list dd div {
	float: left
}

.carfilter-list dd div.carfilter-width01 {
	width: 636px
}

.carfilter-list dd div.carfilter-width02 {
	width: 310px
}

.carfilter-list dd div.carfilter-width03,.carfilter-list dd div.carfilter-width04 {
	width: 330px
}

.carfilter-list dd ul {
	height: 24px;
	float: left;
	padding-top: 8px
}

.carfilter-list dd ul li {
	float: left;
	color: #999
}

.carfilter-list dd ul li.others .dropdown .dropdown-content,.carfilter-list dd ul li.others .dropdown .dropdown-content ul li {
	float: none
}

.carfilter-list dd ul li a {
	display: inline-block;
	height: 23px;
	line-height: 24px;
	padding: 0 7px
}

.carfilter-list dd ul li a.nolink:hover,.carfilter-list dd ul li a.nolink:link,.carfilter-list dd ul li a.nolink:visited {
	color: #999;
	text-decoration: none;
	cursor: default
}

.carfilter-list dd ul li a.current:hover,.carfilter-list dd ul li a.current:link,.carfilter-list dd ul li a.current:visited {
	color: #FFF;
	text-decoration: none;
	background-color: #3b5998
}

.carfilter-list dd ul li.others {
	position: relative;
	z-index: 50
}

.carfilter-list dd ul li.others .icon10-down1 {
	cursor: pointer;
	position: absolute;
	top: 6px;
	right: -9px
}

.carfilter-list dd ul li.others .dropdown {
	width: 90px;
	position: absolute;
	top: 23px;
	left: 50%;
	margin-left: -42px;
	font-size: 14px
}

.carfilter-list dd ul li.others .dropdown .dropdown-content ul {
	height: auto;
	padding: 0;
	float: none
}

.carfilter-list dd ul li.others .dropdown .dropdown-content ul li a {
	line-height: 27px;
	padding-right: 0;
	white-space: nowrap
}

.carfilter-list dd ul li.others .dropdown .dropdown-content ul li a:link,.carfilter-list dd ul li.others .dropdown .dropdown-content ul li a:visited {
	color: #3b5998
}

.carfilter-list dd ul li.others .dropdown .dropdown-content ul li a:hover {
	color: #d60000;
	text-decoration: underline
}

.carfilter-list dd ul li.others .dropdown .dropdown-content ul li a.nolink:hover,.carfilter-list dd ul li.others .dropdown .dropdown-content ul li a.nolink:link,.carfilter-list dd ul li.others .dropdown .dropdown-content ul li a.nolink:visited {
	color: #999;
	text-decoration: none;
	cursor: default
}

.carfilter-list dd ul.pzul {

	height: auto
}

.carfilter-list dd ul.pzul li {
	width: 140px;
	padding-bottom: 5px;
	color: #3b5998
}

.carfilter-list dd ul.pzul li .labgrey {
	color: #999
}

.price-range .btn-price,.price-range .slider-ul li .icon-dian {
	background: url(http://x.autoimg.cn/car/images/grade/pricerange_bg_24.png) no-repeat;
	_background: url(/Images/new_grade/rankchannel.png) no-repeat
}

.price-range {
	height: 40px;
	margin-top: 40px;
	position: relative
}

.price-range .price-range-slider {

	height: 10px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 10px;
	background-color: #f8f8f8
}

.price-range .bg-darkgrey,.price-range .bg-darkgrey-hand {
	left: 0;
	width: 570px;
	position: absolute;
	top: 0;
	height: 10px;
	overflow: hidden
}

.price-range .bg-darkgrey {
	background-color: #ccd3e4
}

.price-range .bg-darkgrey-hand {
	cursor: pointer;
	z-index: 5
}

.price-range .slider-ul {

	height: 10px;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
	position: absolute;
	top: 0
}

.price-range .slider-ul li {
	width: 57px;
	height: 10px;
	float: left;
	position: relative
}

.price-range .slider-ul li.slider-ul-first {
	width: 34px
}

.price-range .slider-ul li .icon-dian {
	width: 8px;
	height: 9px;
	line-height: 0;
	overflow: hidden;
	background-position: -6px -26px;
	position: absolute;
	right: -4px;
	_background-position: -54px -159px;
	_top: 1px
}

.price-range .btn-price {
	display: inline-block;
	width: 21px;
	height: 21px;
	position: absolute;
	top: -6px;
	z-index: 10;
	cursor: pointer
}

.price-range .btn-left {
	_background-position: 0 -151px
}

.price-range .btn-right {
	_background-position: -26px -151px
}

.price-range .slide-selected {
	height: 8px;
	line-height: 0;
	overflow: hidden;
	background-color: #3b5998;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 6;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	cursor: pointer
}

.price-range .tip {
	top: -36px
}

.price-range .tip-content {
	min-width: 30px;
	line-height: 22px;
	padding: 0 10px;
	color: #666;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	font-size: 14px
}

.price-range .tip-top {
	left: 38%
}

.price-range .price-range-text {
	height: 20px;
	padding-top: 15px;
	color: #999
}

.price-range .price-range-text .number {
	display: inline-block;
	width: 57px;
	height: 20px;
	line-height: 20px;
	float: left
}

.price-range .price-range-text .number-first {
	width: 34px
}

.carfilter-list dd ul li.custom {
	position: relative
}

.carfilter-list dd ul li.custom div {
	float: none
}

.carfilter-list dd ul li.custom .icon10-down1 {
	cursor: pointer;
	position: absolute;
	top: 6px;
	right: -5px
}

.carfilter-list dd ul li.custom a:hover .icon10-down1 {
	background-position: -180px -60px
}

.custom-tip {
	float: none;
	top: 26px;
	right: 0
}

.custom-tip .tip-content {
	width: 235px
}

.custom-tip .tip-bottom {
	padding: 0;
	left: auto;
	right: 19px
}

.custom-tip .form-text {
	width: 55px;
	margin: 0 3px
}

.custom-tip .btn-blue {
	margin-left: 10px
}

.carfilter-more {
	height: 21px;
	padding-top: 10px;
	overflow: hidden;
	text-align: center
}

.carfilter-more .icon10-top {
	background-position: -180px -40px
}

.carfilter-more .icon10-down1 {
	background-position: -180px -60px
}

.carfilter-more a .btn-text {
	float: left
}

.carfilter-more a .icon10 {
	float: left;
	margin: 5px 0 0 3px
}

.tabrank-match {
	float: left;
	padding-left: 15px;
	color: #666
}

.tabrank-match .font-bold,.view-mode dd a:hover {
	color: #3b5998
}

.tabrank-right {
	width: 280px;
	float: right;
	text-align: right
}

.tabrank-right label {
	display: inline-block;
	font-size: 12px;
	color: #3b5998;
	vertical-align: -1px;
	*display: inline;
	*vertical-align: baseline
}

.tabrank-right label input {
	float: left;
	top: 1px;
	*float: none
}

.view-mode {
	line-height: normal;
	float: right;
	padding: 3px 0 0 15px
}

.view-mode dd {
	height: 22px;
	float: left;
	margin-left: -1px
}

.view-mode dd a:hover .icon16-list {
	background-position: -20px -520px
}

.view-mode dd a .icon16 {
	float: left;
	margin: 3px 5px 0 0
}

.view-mode dd a:hover .icon16-img {
	background-position: -20px -200px
}

.view-mode dd.current a:hover,.view-mode dd.current a:link,.view-mode dd.current a:visited {
	background-color: #f0f0f0
}

.view-mode dd.current a .icon16-list {
	background-position: -20px -520px
}

.view-mode dd.current a .icon16-img {
	background-position: -20px -200px
}

.find {
	margin-bottom: 10px;
	border: 1px solid #ccd3e4;
	border-top: 0
}

.find-letter {
	height: 32px;
	line-height: 18px;
	padding: 18px 0 0 10px;
	color: #666
}

.find-letter-list {
	float: left;

	height: 19px;
	overflow: hidden;
	position: relative
}

.find-letter-list li {
	float: left;
	margin-right: 5px
}

.find-letter-list li:last-child {
	margin-right: 0
}

.find-letter-list li a {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	font-weight: 700;
	text-align: center
}

.find-letter-list li .hot-btn {
	width: 36px
}

.uibox-title {
    background-color : #f0f0f0;
	font-weight: 700;
	color: #d60000;
	font-size: 16px
}

.uibox-title .font-letter {
    margin-left: 20px;
    font-family: Arial,Helvetica,sans-serif;
	font-size: 20px
}

.uibox-title .rank-ask {
	float: none;
	position: absolute;
	margin: 2px 0 0 5px
}

.rank-list {

	padding: 0;
	overflow: hidden
}

.icon-staysale {
	width: 26px;
	height: 12px;
	background: url(http://x.autoimg.cn/www/common/images/icon-staysale.png) no-repeat
}

.h3-tit {

	font-size: 14px;
	font-weight: 700;
	color: #333;
	overflow: hidden;
	padding: 12px 0 0 23px;
	margin-bottom: -5px
}

.rank-list .rank-list-ul {
	padding-left: 15px;
	overflow: hidden;
	color: #999
}

.rank-list .rank-list-ul li {
	line-height: 22px;
	float: left;
	padding: 12px 0
}

.divline,.rank-list .rank-list-ul li.dashline {

	height: 0;
	line-height: 0;
	padding: 0;
	border-bottom: 1px dotted #ccd3e4
}

.rank-list .rank-list-ul li h4 {
	height: 22px;
	overflow: hidden;
	font-size: 14px;
	font-weight: 700
}

.rank-list .rank-list-ul li h4 i {
	position: absolute;
	margin: -1px 0 0 5px;
	*margin-top: -4px
}

.rank-list .rank-list-ul li h4.toolong,.rank-list-pic dl {
	position: relative
}

.rank-list .rank-list-ul li h4.toolong i {
	margin: 0;
	right: 10px;
	top: 0;
	*top: 0
}

.rank-list-pic .rank-list-ul {
	padding-left: 23px
}

.rank-list-pic .rank-list-ul li {
	width: 175px;
	padding: 5px
}

.rank-list dd .divline,.rank-list-pic .rank-list-ul li.dashline {

}

.rank-list dd .divline {
	margin: 0 23px
}

.rank-list-pic {

	padding: 0;
	overflow: hidden;
	border-bottom: 0
}

.rank-list-pic dl {
	width: 988px;
	overflow: hidden;
	border-bottom: 1px solid #ccd3e4
}

.rank-list-pic dl dt {
	width: 88px;
	height: 10000px;
	float: left;
	text-align: center;
	padding-top: 10px;
	border-right: 1px solid #ccd3e4;
	background-color: #fafbfc;
	position: absolute;
	top: 0;
	left: 0
}

.rank-list-pic dl dt img {
	border: 1px solid #ccd3e4
}

.rank-list-pic dl dt div {
	line-height: 18px;
	margin-top: 5px
}

.rank-list-pic dl dt div a:link,.rank-list-pic dl dt div a:visited {
	color: #333
}

.rank-list-pic dl dt div a:hover {
	color: #d60000
}

.rank-list-pic dl dd {
	min-height: 100px;
	padding-left: 89px
}



.rank-list .rank-img-ul {
	padding: 10px 0 20px 10px;
	overflow: hidden;
	color: #999
}

.rank-list .rank-img-ul li {
	width: 161px;
	padding: 5px 12px 10px;
	margin-right: 8px;
	float: left;
	border: 1px solid #ccd3e4
}

.rank-list .rank-img-ul li.dashline {

	height: 0;
	line-height: 0;
	padding: 0;
	margin: 20px 0 10px -20px;
	border: 0;
	border-bottom: 1px dotted #ccd3e4
}

.a-org,.rank-list .rank-img-ul li div img {
	margin-bottom: 5px
}

.rank-list .rank-img-ul li div {
	line-height: 22px
}

.rank-list .rank-img-ul li h4 {
	height: 25px;
	line-height: 22px;
	font-size: 14px;
	font-weight: 700
}

.rank-list .rank-img-ul li h4 i {
	position: absolute;
	margin: -3px 0 0 5px;
	*margin-top: -6px
}

.brand-series,.rank-list .rank-img-ul li h4.toolong {
	position: relative
}

.rank-list .rank-img-ul li h4.toolong i {
	right: -10px;
	top: -10px
}

.rank-list-pic .rank-img-ul {
	padding-left: 20px
}

.rank-list-pic .rank-img-ul li {
	margin-right: 37px
}

.noresult {
	padding: 40px 0;
	border: 1px solid #ccd3e4;
	margin-bottom: 10px
}

.noresult .noresult-tip {
	line-height: 24px;
	padding: 0 0 0 205px;
	font-family: \5FAE\8F6F\96C5\9ED1;
	font-size: 20px;
	color: #666;
	font-weight: 700
}

.noresult .filter-bar {
	width: auto;
	float: none;
	padding: 15px 150px 0 205px;
	overflow: hidden;
	_display: inline-block
}

.tabrank .noresult {
	border-top: 0
}

.tabrank .noresult .noresult-tip {
	padding: 0;
	text-align: center
}

.photos .title-content {
	height: auto;
	border: 0;
	margin-top: 10px
}

.photos dl {
	overflow: hidden
}

.photos dl dt {

	float: left;
	margin-top: 15px
}

.photos dl dt a {
	display: inline-block
}

.photos dl dt div {
	height: 23px;
	line-height: 23px;
	margin-top: 12px;
	text-align: center;
	background-color: #efefef
}

.photos dl dt div a:link,.photos dl dt div a:visited {
	color: #000
}

.photos dl dt div a:hover {
	color: #d60000
}

.photos dl dd {
	width: 120px;
	height: 135px;
	float: left;
	overflow: hidden;
	padding-left: 30px;
	text-align: center
}

.photos dl dd div {
	line-height: 18px;
	margin-top: 5px;
	white-space: nowrap
}

.pop-autoapp {
	width: 110px;
	height: 160px;
	position: fixed;
	left: 50%;
	margin-left: 505px;
	top: 90px;
	_position: absolute;
	z-index: 800
}

.pop-autoapp a {
	display: block;
	width: 110px;
	height: 160px;
	text-align: center
}

.pop-autoapp a:link,.pop-autoapp a:visited {
	color: #666;
	background-color: #efefef;
	text-decoration: none
}

.pop-autoapp a:hover {
	color: #666;
	background-color: #d0d0d0;
	text-decoration: none
}

.pop-autoapp a div {
	line-height: 24px
}

.pop-autoapp a .pop-autoapp-close {
	height: 16px;
	margin-bottom: 3px;
	text-align: right;
	background-color: #fff
}

.pop-autoapp i.icon16 {
	cursor: pointer;
	visibility: hidden;
	_visibility: visible
}

.pop-autoapp i.icon16-close:hover {
	cursor: pointer
}

.pop-autoapp:hover i.icon16 {
	visibility: visible
}

.pop-crazed,.pop-crazed a {
	height: 130px
}

.crazed-tips2,.crazed-tips2 i {
	height: 20px;
	position: absolute
}

.pop-crazed a .pop-autoapp-close {
	margin-bottom: 10px
}

.crazed-tips1,.crazed-tips1 i,.crazed-tips2,.crazed-tips2 i {
	background: url(http://x.autoimg.cn/car/images/icon-huibg.png) no-repeat
}

.crazed-tips2 {
	width: 40px;
	line-height: 20px;
	padding-left: 5px;
	color: #FFF;
	background-position: 0 -66px;
	background-repeat: repeat-x;
	margin: 0 0 0 5px;
	*margin: -4px 0 0 5px
}

.crazed-tips2:hover,.crazed-tips2:link,.crazed-tips2:visited {
	color: #ff5a00
}

.crazed-tips2 i {
	width: 5px;
	top: 0
}

.crazed-tips2 .crazed-tips-iconl {
	background-position: 0 -89px;
	left: -1px
}

.crazed-tips2 .crazed-tips-iconr {
	background-position: -45px -89px;
	right: -1px
}

.gotop02 {
	position: fixed;
	_position: absolute;
	left: 50%;
	bottom: 10px;
	margin-left: 505px
}

.a-org {
	background-color: #f60;
	color: #fff;
	border: 0;
	cursor: pointer;
	display: inline-block;
	height: 32px;
	line-height: 16px;
	padding: 3px 10px;
	text-align: center;
	width: 30px
}

a.icon-double11,a.icon-jiajia {
	display: inline-block;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	font-weight: 400;
	vertical-align: middle;
	margin: -4px 0 0 5px;
	color: #fff;
	text-align: center
}

.a-org:hover {
	color: #fff;
	text-decoration: none
}

a.icon-double11 {
	width: 32px;
	background-color: #f70;
	font-style: normal
}

a.icon-double11:hover {
	background-color: #f90;
	color: #fff;
	text-decoration: none
}

a.icon-jiajia {
	width: 52px;
	background-position: -213px -143px
}

a.icon-jiajia:hover {
	color: #fff;
	text-decoration: none
}

.brand-series {
	background-color: #fff;
	border-top: solid 1px #ddd;
	clear: both;
	zoom: 1
}

.brand-series .arrow-up,.brand-series .arrow-up .arrow-up-in {
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute
}

.brand-series .arrow-up {
	border-width: 8px;
	border-color: transparent transparent #ddd;
	top: -16px;
	left: 150px
}

.brand-series .arrow-up .arrow-up-in {
	border-width: 6px;
	border-color: transparent transparent #fafbfc;
	top: -4px;
	left: -6px;
	z-index: 2
}

.brand-series .brand-series__item {
	height: auto;
	overflow: hidden;
	padding-bottom: 10px;
	display: none
}

.brand-series .brand-series__item.current {
	display: block
}

.brand-series .brand-series__item dd {
	float: left;
	white-space: nowrap;
	padding: 10px 0 0 20px
}

.brand-series .brand-series__item dd a {
	display: inline-block;
	color: #333;
	text-align: center
}

.brand-series .brand-series__item dd a:hover {
	color: #d60000
}

.brand-series .brand-series__item dd a em {
	display: block;
	margin-bottom: 5px
}
