<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <ol class="breadcrumb">
      <li><a href="/home">首页</a></li>
      <li class="active">发现</li>
    </ol>
    <div class="wrapper-sm">
      <div class="row">
        <!--广告位信息  -->
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-body">col-lg-12</div>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="panel">
            <div class="panel-body">
              <div class="wrapper-xs">
                <div class="tab-container">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#orderBrand" data-toggle="tab">按品牌</a></li>
                    <li><a href="#orderFocus" data-toggle="tab">按关注度</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="orderBrand">
                      <div class="panel-body">

                        <span class="fn-left">按品牌<span class="red">拼音</span>首字母查找：</span>
                        <ul id="list-firstletter" class="find-letter-list" style="list-style:none">
                          <li *ngFor="let c of chars;let s = index">
                            <a (click)="jump(s)">{{c}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="tab-pane" id="orderFocus">
                      <div class="panel-body">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="panel">
            <div class="uibox" id="Section{{s}}" *ngFor="let c of chars;let s = index">
              <div class="uibox-title uibox-title-border" ><span class="font-letter">{{c}}</span></div>
              <div class="uibox-con rank-list rank-list-pic">
                <dl class="col-lg-12 col-md-12 col-sm-12" *ngFor="let brand of brands[c]">
                  <dt class="col-lg-1 col-md-2 col-sm-2">
                    <div>
                      <a herf="#" routerLink="/home/home/brand/{{brand['_id']}}">
                      <img width="50" height="50" src="http://localhost:3000{{brand['icon']}}"></a>
                      <div><a herf="#" routerLink="/home/home/brand/{{brand['_id']}}">{{brand['name']}}</a></div>
                    </div>
                  </dt>
                  <dd class="col-lg-12 col-md-12 col-sm-12" *ngFor="let key of brand['productkeys'];let i = index">
                    <div class="h3-tit col-lg-12 col-md-12 col-sm-12" >{{key}}</div>
                    <ul class="rank-list-ul" >
                      <li  class="col-lg-2 col-md-2 col-sm-2" *ngFor="let pros of brand['products'][i];">
                        <h4><a routerLink="/home/home/product/{{pros['_id']}}">{{pros["name"]}}</a></h4>
                         <a routerLink="/home/home/product/{{pros['_id']}}"><img style="width:100%" alt="" src="http://localhost:3000{{pros['appearimages'][0]}}"></a>
                        <div>指导价：<a class="red" routerLink="/home/home/product/{{pros['_id']}}">{{pros["recommentPrice"]}}</a></div>
                        <div><a routerLink="/home/home/product/{{pros['_id']}}">图库</a>  <a routerLink="/home/home/product/{{pros['_id']}}">论坛</a> <a routerLink="/home/home/product/{{pros['_id']}}">口碑</a></div>
                      </li>
                    </ul>

                    <div class="divline col-lg-12 col-md-12 col-sm-12"></div>

                  
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>