<!-- content -->
<div id="content" class="app-content" role="main">
  <ol class="breadcrumb">
    <li><a routerLink="/home">首页</a></li>
    <li class="active">曲谱</li>
  </ol>
  <div class="app-content-body ">
    <div class="wrapper-sm">
      <div class="row">

        <!--曲谱  -->
        <div class="col-lg-8 col-md-8 col-sm-12">
          <!-- 曲谱分类-->
          <div class="col-lg-12 col-md-12 col-sm-12" style="padding:0">
            <div class="panel panel-default">
              <div class="app-content-body " style="padding:0">
                <!-- <form class="form-horizontal" method="get"> -->
                <div class="wrapper-md" style="background:#fff;padding:10px;height:100px">
                  <div class="input-group col-md-10 pull-right">
                    <input type="text" style="height:35px" (change)="changeListener($event)" (keyup.enter)="keypress($event)" name="scoresearch"
                      [(ngModel)]="searchString" class="form-control input-sm bg-light no-border rounded padder" placeholder="查询曲谱...">
                    <span class="input-group-btn">
                                  <button (click)="search()" style="height:35px" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                              </span>
                  </div>
                  <div class="line line-dashed b-b line-lg pull-in"></div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">过滤</label>
                    <div class="col-sm-10">

                      <label class="checkbox-inline i-checks">
                              <input type="radio" name="lvl" value="难" [(ngModel)]="lvl"  (change)="changeSelListener($event)" ><i></i> 难
                            </label>
                      <label class="checkbox-inline i-checks">
                              <input type="radio" name="lvl" value="标准" [(ngModel)]="lvl" (change)="changeSelListener($event)"><i></i> 标准
                            </label>
                      <label class="checkbox-inline i-checks">
                              <input type="radio" name="lvl" value="入门" [(ngModel)]="lvl" (change)="changeSelListener($event)"><i></i> 入门
                            </label>
                            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                      <label class="checkbox-inline i-checks">
                              <input type="radio" name="region" value="国外" [(ngModel)]="region" (change)="changeSelListener($event)"><i></i> 国外名曲
                            </label>
                      <label class="checkbox-inline i-checks">
                              <input type="radio" name="region" value="国内" [(ngModel)]="region" (change)="changeSelListener($event)"><i></i> 国内名曲
                            </label>
                            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                      <label class="checkbox-inline i-checks">
                                <input type="radio" name="style" value="古典" [(ngModel)]="style" (change)="changeSelListener($event)"><i></i> 古典
                              </label>
                      <label class="checkbox-inline i-checks">
                                <input type="radio" name="style" value="现代" [(ngModel)]="style" (change)="changeSelListener($event)"><i></i> 现代
                              </label>
                              &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                      <button class="btn btn-success btn-sm rounded" (click)="clearSel()">清空</button>
                    </div>
                  </div>
                </div>
                <!-- </form> -->
                <div class="wrapper-xs">
                  <div class="tab-container">
                    <ul class="nav nav-tabs" id="scoreTab">
                      <li (click)="changeTab(i)" [ngClass]="{active: i == 0}" *ngFor="let instrument of instruments;let i = index"><a href data-toggle="tab" data-target="#tab_{{i}}"> <i><img style="width:20px" src="./public/img/{{instrumenticons[i]}}.png"></i> {{instrument}} </a></li>
                      <li style="float:right">
                        <button class="btn btn-info btn-block" routerLink="/home/home/score/scoreissue">+发布曲谱</button>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div [ngClass]="{active:(i==0)}" class="tab-pane" id="tab_{{i}}" *ngFor="let instrument of instruments; let i = index">
                        <div class="figure flex-block" *ngFor="let score of scoreslist">
                          <div class="article flex-1">
                            <h2 class="figcaption"><a routerLink="/home/home/score/scoreplay/{{score._id}}" title="{{score.title}}"> {{score.title}}</a></h2>
                            <br>
                            <div class="subtitle"><span>{{score.avator}}</span>
                              <span>   {{score.fromTime}}</span>
                              <span>   {{score.support}}赞</span>
                              <span>   {{score.read}}查看</span>
                              <span *ngIf="score.mp3 != undefined" class="label bg-light m-l-sm ">mp3</span>
                            </div>
                          </div>
                          <div class="figure_loading" *ngIf="isloading">正在为你加载更多...</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--找琴的位子  -->
        </div>
        <!--广告位信息  -->
        <div class="col-lg-4 col-md-4 col-sm-12" *ngIf="adslist.length>0">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" [ngClass]="{'active': i==0}" *ngFor="let ads of adslist;let i = index"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item " [ngClass]="{'active': i==0}" *ngFor="let ads of adslist;let i = index">
                <a (click)="adsClick(ads)"><img src="{{ads.path}}"  alt="{{ads.subtitle}}"></a>
                <div class="carousel-caption">
                  <h3>{{ads.title}}</h3>
                  <p>{{ads.subtitle}}</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">上一页</span>
                </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">下一页</span>
                </a>
          </div>
        </div>
        <!--广告位信息  -->
        <div class="col-lg-4 col-md-8 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">最热的曲谱</div>
            <div class="panel-body">
              <div class="padder-md">
                <div class="figure flex-block" *ngFor="let hotSocre of hotscorelist">
                  <div class="article flex-1">
                    <h2 class="figcaption"><a routerLink="../../content/{{hotSocre._id}}" title="{{hotSocre.title}}"> {{hotSocre.title}}</a></h2>
                    <br>
                    <div class="subtitle"><span>{{hotSocre.avator}}</span>
                      <span>   {{hotSocre.fromTime}}</span>
                      <span>   {{hotSocre.support}}赞</span>
                      <span>   {{hotSocre.read}}查看</span>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->