<!-- content -->
<div id="content" class="app-content" role="main">
  <ol class="breadcrumb">
    <li><a routerLink="/home">首页</a></li>
    <li class="active">个人信息</li>
  </ol>
  <div class="app-content-body ">


    <div class="hbox hbox-auto-xs hbox-auto-sm">
      <div class="col">
        <div [ngStyle]="{background:urlbackground}" style="background-size:cover">
          <div class="wrapper-lg bg-white-opacity">
            <div class="row m-t">
              <div class="col-sm-7">
                <a  class="thumb-lg pull-left m-r">
                  <img src="{{avatorPath}}" class="img-circle">
                </a>
                <div class="clear m-b">
                  <div class="m-b m-t-sm">
                    <span class="h3 text-black">{{avator}}</span>
                    <small class="m-l" *ngIf="havLoaction">{{province}}, {{city}}</small>
                  </div>
                  <p class="m-b">
                    <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-twitter"></i></a>
                    <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
                    <a href class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-google-plus"></i></a>
                  </p>
                  <a *ngIf="!isSelf" (click)="addAttention()" class="btn btn-sm btn-success btn-rounded">+关注</a>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="pull-right pull-none-xs text-center">
                  <a  class="m-b-md inline m">
                <span class="h3 block font-bold">{{followMy.length}}</span>
                <small>关注我</small>
              </a>
                  <a  class="m-b-md inline m">
                <span class="h3 block font-bold">{{follows.length}}</span>
                <small>我关注</small>
              </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper bg-white b-b">
          <ul class="nav nav-pills nav-sm">
            <li [ngClass]="{active: currentTab==0 }"><a  (click)="changeTab(0)">发布帖子</a></li>
            <li *ngIf="isSelf" [ngClass]="{active: currentTab==1 }"><a  (click)="changeTab(1)">个人信息</a></li>
            <li *ngIf="isSelf" [ngClass]="{active: currentTab==2 }"><a  (click)="changeTab(2)">修改密码</a></li>
          </ul>
        </div>

          <!--发布的帖子  -->
            <div class="padder" *ngIf="(currentTab==0)">
              <div class="streamline b-l b-info m-l-lg m-b padder-v">
                <div *ngFor="let issForum of issueForums">
                  <a routerLink="/home/home/profile/{{issForum.author}}" class="pull-left thumb-sm avatar m-l-n-md">
                  <img src="{{issForum.avatorPath}}" class="img-circle" alt="...">
                  </a>
                  <div class="m-l-lg">
                    <div class="m-b-xs">
                      <a routerLink="/home/home/profile/{{issForum.author}}" class="h4">{{issForum.avatar}}</a>
                      <span class="text-muted m-l-sm pull-right">{{issForum.fromTime}}</span>
                    </div>
                    <div class="m-b">
                      <div>
                        <a routerLink="/home/home/content/{{issForum._id}}">
                          {{issForum.title}}
                        </a>
                      </div>
                       <div class="m-t-sm">
                        <a  class="text-muted m-xs"><i class="icon-star"></i>{{issForum.support}}</a>
                        <a  class="text-muted m-xs"><i class="icon-eye"></i> {{issForum.read}}</a>
                      </div> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!--编辑个人信息  -->
            <div *ngIf="isSelf&&(currentTab==1)" class="panel panel-default" style="padding:10px">
              <form class="form-horizontal" #f="ngForm" (ngSubmit)="submit()">
                <div class="form-group">
                  <label class="col-sm-2 control-label">昵称</label>
                  <div class="col-sm-8">
                    <input type="text" name='avator' class="form-control rounded" [(ngModel)]="avator">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">头像</label>
                  <div class="col-sm-10">
                    <form id="uploadForm" enctype="multipart/form-data" action="/api/web/file" method="post">
                      <input ui-jq="filestyle" accept="image/*" name="userPhoto" type="file" data-icon="false" (change)="changeListener($event)"
                        data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                    </form>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">个人背景</label>
                  <div class="col-sm-10">
                    <form id="uploadForm2" enctype="multipart/form-data" action="/api/web/file" method="post">
                      <input ui-jq="filestyle" accept="image/*" name="userPhoto" type="file" data-icon="false" (change)="changeListener2($event)"
                        data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
                    </form>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">手机</label>
                  <div class="col-sm-8">
                    <input type="text" name="phone" class="form-control" [(ngModel)]="phone">
                    <span class="help-block m-b-none">可以通过手机短信登录，以及找回密码。</span>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-8">
                    <input type="email" name="email" class="form-control" [(ngModel)]="email">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">性别</label>
                  <div class="col-sm-8">
                    <label class="radio-inline">
                      <input type="radio" name="sex" [(ngModel)]="sex" value="男"> 男
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="sex" [(ngModel)]="sex" value="女"> 女
                    </label>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">出生日期</label>
                  <div class="col-sm-8">
                    <input ui-jq="daterangepicker" name="birthday" value="{{birthdayString}}" ui-options="{
                format: 'YYYY-MM-DD',
                singleDatePicker: true,
                showDropdowns: true
              }" class="form-control w-md" />
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">地址</label>
                  <div class="col-sm-3">
                    <select name="province" [(ngModel)]="province" class="form-control m-b" (change)="provinceListener()">
                      <option value="">请选择省份</option>
                      <option *ngFor="let p of provinces" value="{{p}}">{{p}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select name="city" [(ngModel)]="city" class="form-control m-b" (change)="cityListener()">
                      <option value="">请选择所在市</option>
                      <option *ngFor="let c of citys" value="{{c}}">{{c}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <select name="district" [(ngModel)]="district" class="form-control m-b">
                      <option value="">请选择所在区县</option>
                      <option *ngFor="let dis of districts" value="{{dis}}"> {{dis}}</option>
                    </select>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">地址</label>
                  <div class="col-sm-8">
                    <input type="text" name="address" class="form-control" [(ngModel)]="address">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">技能</label>
                  <div class="col-sm-8">
                    <input ui-jq="tagsinput" name="skill" [(ngModel)]="skills" ui-options="" class="form-control w-md" />
                    <span class="help-block m-b-none">输入后回车，可输入多项</span>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">关注的乐器</label>
                  <div class="col-sm-8">
                    <select ui-jq="chosen" id="focusselect" name="focus" [(ngModel)]="focus" multiple class="w-md">
                      <option *ngFor="let st of allSubTypes" value="{{st}}">{{st}}</option>
                    </select>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">提交修改</button>
                  </div>
                </div>
              </form>
            </div>
            <!--修改密码  -->
            <div *ngIf="isSelf&&(currentTab==2)" class="panel panel-default" style="padding:10px">
              <form class="form-horizontal" #f="ngForm" (ngSubmit)="submitpassword()">
                <div class="form-group">
                  <label class="col-sm-2 control-label">原密码</label>
                  <div class="col-sm-8">
                    <input type="password" name='oldpassword' class="form-control rounded" [(ngModel)]="oldpassword">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">新密码</label>
                  <div class="col-sm-8">
                    <input type="password" name='newpassword' class="form-control rounded" [(ngModel)]="newpassword">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">请再输入一次</label>
                  <div class="col-sm-8">
                    <input type="password" name='newpassword2' class="form-control rounded" [(ngModel)]="newpassword2">
                  </div>
                </div>
                <div class="alert alert-danger" *ngIf="messages.length>0">
                  <ul class="margin-bottom-none padding-left-lg">
                    <li *ngFor="let msg of messages">{{msg}}</li>
                  </ul>
                </div>
                <div class="alert alert-info" *ngIf="successmessages.length>0">
                  <ul class="margin-bottom-none padding-left-lg">
                    <li *ngFor="let msg of successmessages">{{msg}}</li>
                  </ul>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">确认修改密码</button>
                  </div>
                </div>
              </form>
            </div>
      </div>
      <div class="col w-lg bg-light lter b-l bg-auto">
        <div class="wrapper">
          <!--关注我的  -->
          <div class="">
            <h4 class="m-t-xs m-b-xs">关注我的</h4>
            <ul class="list-group no-bg no-borders pull-in">
              <li class="list-group-item" *ngFor="let fItem of follows">
                <a routerLink="/home/home/profile/{{fItem.username}}" class="pull-left thumb-sm avatar m-r">
                  <img src="{{fItem.avatorPath}}" alt="..." class="img-circle">
                  <i class="on b-white bottom"></i>
                </a>
                <div class="clear">
                  <div><a routerLink="/home/home/profile/{{fItem.username}}">{{fItem.avator}}</a></div>
                   <small class="text-muted"> </small> 
                </div>
              </li>
              
            </ul>
          </div>
          <!--我关注的  -->
          <br>
          <div class="">
            <h4 class="m-t-xs m-b-xs">我关注的</h4>
            <ul class="list-group no-bg no-borders pull-in">
              <li class="list-group-item" *ngFor="let f of followMy">
                <a routerLink="/home/home/profile/{{f.username}}" class="pull-left thumb-sm avatar m-r">
                  <img src="{{f.avatorPath}}" alt="..." class="img-circle">
                  <i class="on b-white bottom"></i>
                </a>
                <div class="clear">
                  <div><a routerLink="/home/home/profile/{{f.username}}">{{f.avator}}</a></div>
                  <!-- <small class="text-muted">Designer, Blogger</small> -->
                </div>
              </li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->