<!-- content -->
<div id="content" class="app-content" role="main">
  <ol class="breadcrumb">
    <li><a href="/home">首页</a></li>
    <li><a href="/home/home/find">发现</a></li>
    <li class="active">产品</li>
  </ol>
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md hidden-print">
      <!-- <a href class="btn btn-sm btn-info pull-right" onClick="window.print();">Print</a> -->
      <h1 class="m-n font-thin h3">{{productInfo["name"]}}</h1>
    </div>
    <div class="wrapper-sm">
      <div class="row">
        <!--广告位信息  -->
        <div class="col-lg-12">
          <div class="panel">
            <div class="panel-body">col-lg-12</div>
          </div>
        </div>
        <!--产品信息描述和产品配置请说明  -->
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="panel panel-default ">
            <div class="panel-heading font-bold">产品信息</div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-2 control-label">品牌</label>
                <div class="col-sm-10">
                  <label class="col-sm-4 control-label">{{productInfo["brand"]}}</label>
                  <label class="col-sm-4 control-label">类型</label>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">类型</label>
                <div class="col-sm-10">
                  <label class="col-sm-4 control-label">{{productInfo["type"]}}</label>
                  <label class="col-sm-4 control-label">{{productInfo["subType"]}}</label>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">配置</label>
                <div class="col-sm-10">
                  <div class="col-sm-10" *ngFor="let key of productInfo['configkeys'];let i = index">
                    <label class="col-sm-4 control-label">{{key}}</label>
                    <label class="col-sm-4 control-label">{{productInfo["configvalues"][i]}}</label>
                  </div>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">口碑</label>
                <div class="col-sm-10">
                  <button class="btn m-b-xs w-xs btn-default btn-rounded">Default</button>
                  <button class="btn m-b-xs w-xs btn-primary btn-rounded">Primary</button>
                  <button class="btn m-b-xs w-xs btn-success btn-rounded">Success</button>
                  <button class="btn m-b-xs w-xs btn-info btn-rounded">Info</button>
                  <button class="btn m-b-xs w-xs btn-warning btn-rounded">Warning</button>
                  <button class="btn m-b-xs w-xs btn-danger btn-rounded">Danger</button>
                  <button class="btn m-b-xs w-xs btn-dark btn-rounded">Dark</button>
                  <button class="btn m-b-xs w-xs btn-default btn-rounded disabled">Disabled</button>
                </div>
              </div>
              <div class="line line-dashed b-b line-lg pull-in"></div>
              <div class="form-group">
                <label class="col-sm-2 control-label">简介说明</label>
                <div class="col-sm-10">
                  <div [innerHTML]="productInfo['content']"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading font-bold">外观图片</div>
            <div class="panel-body">
              <div class="ibox float-e-margins">
                <div class="ibox-content">
                  <div class="lightBoxGallery">
                    <a href="http://localhost:3000{{imgurl}}" title="1" data-gallery="" *ngFor="let imgurl of productInfo['appearimages'];let i = index"><img style="width:20%"  src="http://localhost:3000{{imgurl}}"></a>
                    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                    <div id="blueimp-gallery" class="blueimp-gallery">
                      <div class="slides"></div>
                      <h3 class="title"></h3>
                      <a class="prev">‹</a>
                      <a class="next">›</a>
                      <a class="close">×</a>
                      <a class="play-pause"></a>
                      <ol class="indicator"></ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading font-bold">细节图片</div>
            <div class="panel-body">
              <div class="ibox float-e-margins">
                <div class="ibox-content">
                  <div class="lightBoxGallery">
                    <a href="http://localhost:3000{{imgurl}}" title="1" data-gallery="" *ngFor="let imgurl of productInfo['detailimages'];let i = index"><img style="width:20%" src="http://localhost:3000{{imgurl}}"></a>
                    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                    <div id="blueimp-gallery" class="blueimp-gallery">
                      <div class="slides"></div>
                      <h3 class="title"></h3>
                      <a class="prev">‹</a>
                      <a class="next">›</a>
                      <a class="close">×</a>
                      <a class="play-pause"></a>
                      <ol class="indicator"></ol>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 相关论坛 -->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="panel panel-default ">
            <div class="panel-heading font-bold">相关论坛
              <div class="btn-group btn-group-sm" style="float:right;margin-top:-5px">
                <button type="button" routerLink="/home/home/issue/{{productInfo['type']}}/{{productInfo['subType']}}/{{productInfo['_id']}}"
                  class="btn btn-success"><span class="glyphicon glyphicon-plus">发布帖子</span></button>
              </div>
            </div>

            <div class="panel-body">
              <div class="list-group bg-white">
                <a routerLink="/home/home/content/{{forum._id}}" class="list-group-item" *ngFor="let forum of forums">
                  <i class="fa fa-fw fa-envelope"></i> {{forum.title}}
                </a>
              </div>
            </div>
          </div>

          <!-- 相关论坛 -->
          <!-- 相关口碑 -->

          <div class="panel panel-default ">
            <div class="panel-heading font-bold">相关口碑
              <div class="btn-group btn-group-sm" style="float:right;margin-top:-5px">
                <button type="button" routerLink="/home/home/praise/{{productInfo['_id']}}" class="btn btn-success"><span class="glyphicon glyphicon-plus">发布口碑</span></button>
              </div>
            </div>
            <div class="panel-body">
              <div class="list-group bg-white">
                <a routerLink="/home/home/praise/{{praise._id}}" class="list-group-item" *ngFor="let praise of praises">
                  <i class="fa fa-fw fa-envelope"></i> {{praise.province}},{{praise.city}},{{praise.chenghu}}
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- 相关口碑 -->

      </div>
    </div>
  </div>
</div>