<!-- content -->
<div id="content" class="app-content" role="main">
  <ol class="breadcrumb">
    <li><a routerLink="/home">首页</a></li>
    <li><a routerLink="/home/home/live/class">直播</a></li>
    <li class="active">发布直播</li>
  </ol>
  <div class="app-content-body">
    <div class="wrapper-sm">
      <div class="row">

        <!-- <div class="col-lg-12">
            <div class="panel ">
              <div class="panel-body">col-lg-12</div>
            </div>
          </div> -->

        <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form-horizontal" method="get">
                <div class="form-group">
                  <label class="col-sm-2 control-label">直播签名</label>
                  <div class="col-sm-10">
                    <input type="text" name="showname" [(ngModel)]="show.sign" class="form-control rounded">
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">演奏的乐器</label>
                  <div class="col-sm-10">
                    <select ui-jq="chosen" id="selecttypes"  name="focus" placeholder="请选择演奏乐器" [(ngModel)]="show.types" multiple class="w-md">
                     <option *ngFor="let b of instruments" value="{{b}}">{{b}}</option>
                    </select>
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">身份证</label>
                  <div class="col-sm-6">
                    <button type="button" (click)="UploadImage()" class="btn btn-primary">上传身份证</button>
                  </div>
                  <div class="col-sm-2" *ngIf="show.idcard != undefined">
                    <img style="width:100%" src="{{show.idcard}}" />
                  </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">主播靓照</label>
                  <div class="col-sm-6">
                    <form id="uploadForm" enctype="multipart/form-data" action="/api/web/file" method="post">
                      <input ui-jq="filestyle" accept="image/*" name="userPhoto" type="file" data-icon="true" (change)="changeListener($event)"
                        data-classButton="btn btn-info" data-classInput="form-control inline v-middle input-s">
                    </form>
                  </div>
                  <div class="col-sm-2" *ngIf="show.image != undefined">
                    <img style="width:100%" src="{{show.image}}" />
                  </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">手机号码</label>
                  <div class="col-sm-4">
                    <input type="text" name="telphone" [(ngModel)]="show.tel" placeholder="请输入手机号" class="form-control">
                  </div>
                  <label class="col-sm-2 control-label"><a >获取验证码</a></label>
                  <div class="col-sm-4">
                    <input type="text" name="verify" placeholder="请输入验证码" class="form-control">
                  </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">直播预报</label>
                  <div class="col-sm-4">
                    <input type="text" name="classdate" ui-jq="daterangepicker" ui-options="{locale: {format: 'YYYY-MM-DD hh:mm'},singleDatePicker:true,timePicker:true,timePicker24Hour:true}"
                      class="form-control">
                  </div>

                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="col-sm-2 col-sm-offset-10">
                  <a (click)="issueshow()" class="btn btn-info btn-rounded font-bold">发布直播</a>
                </div>
              </form>
            </div>
          </div>
        </div>


        <div class="col-lg-4">
          <div class="panel ">
            <div class="panel-body">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modifyIdCARDmodal" tabindex="-1" role="dialog" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">省份证</h4>
        </div>
        <div class="modal-body">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-6">
                <div class="image-crop" style="background-color:cornsilk">
                  <img id="imageHead" style="width:100%" src="">
                </div>
              </div>
              <div class="col-md-6">
                <h4>预览</h4>
                <div id="headerPreview" class="img-preview img-preview-sm"></div>
                <h4>操作</h4>
                <div class="btn-group">
                  <label title="Upload image file" for="inputImage" class="btn btn-primary">
                      <input type="file" accept="image/*" name="file" id="inputImage" class="hide" >
                        选择图片
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="getIdImageData()" class="btn btn-info" data-dismiss="modal">确认</button>
        </div>
      </div>
    </div>
  </div>