<!-- content -->
<div id="content" class="app-content" role="main">
  <ol class="breadcrumb">
    <li><a routerLink="/home">首页</a></li>
    <li class="active">课程</li>
  </ol>
  <div class="app-content-body">
    <div class="wrapper-sm">
      <div class="row">
        <!--广告位信息  -->
        <div class="col-lg-12">
          <div class="panel ">
            <div class="panel-body">col-lg-12</div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              我加入的课程
            </div>
            <div class="panel-body">
              <ul class="all-blogs">
                <li class="media" *ngFor="let class of classlist">
                  <div class="shape">
                    <div class="shape-text">hot</div>
                  </div>
                  <a class="pull-left" routerLink="/home/home/live/classauth/{{class._id}}">
                    <img style="width:200px;height:150px" src="{{class.images[0]}}" alt="...">
                  </a>
                  <div class="media-body">
                    <a routerLink="/home/home/live/classauth/{{class._id}}"><h4 class="media-heading">{{class.title}}</h4></a>
                    <p class="author">{{class.subtitle}}</p>
                    <p class="author" style="margin-right:20px">主讲：{{class.lecturename}}</p>
                    <p class="author" style="margin-right:20px">开课时间：{{class.start}} -- {{class.end}}</p>
                    <p class="author" style="margin-right:20px;color:red">RMB:{{class.price}}</p>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-heading font-bold">
              精品课程
              <div class="col-lg-2" style="float:right">
                <button class="btn btn-success btn-block btn-sm " (click)="issue()">+发布课程</button>
              </div>
            </div>
            <div class="panel-body">
              <div class="vbox">
                <div class="nav-tabs-alt">
                  <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                      <a data-target="#tab-1" role="tab" data-toggle="tab" class="h4">预计开班课程</a>
                    </li>
                    <li>
                      <a data-target="#tab-2" role="tab" data-toggle="tab" class="h4">完成的课程</a>
                    </li>
                  </ul>
                </div>

                <div class="tab-content">
                  <div class="tab-pane active" id="tab-1">
                    <div class="wrapper-md">
                      <ul class="all-blogs">
                        <li class="media" *ngFor="let class of classlist">
                          <div class="shape">
                            <div class="shape-text">hot</div>
                          </div>
                          <a class="pull-left" routerLink="/home/home/live/classauth/{{class._id}}">
                            <img style="width:200px;height:150px"  src="{{class.images[0]}}" alt="...">
                          </a>
                          <div class="media-body">
                            <a routerLink="/home/home/live/classauth/{{class._id}}"><h4 class="media-heading">{{class.title}}</h4></a>
                            <p class="author">{{class.subtitle}}</p>
                            <p class="author" style="margin-right:20px">主讲：{{class.lecturename}}</p>
                            <p class="author" style="margin-right:20px">开课时间：{{class.start}} -- {{class.end}}</p>
                            <p class="author" style="margin-right:20px;color:red">RMB:{{class.price}}</p>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-2">
                    <div class="wrapper-md">
                      <ul class="all-blogs">
                        <li class="media">
                          <div class="shape">
                            <div class="shape-text">hot</div>
                          </div>
                          <a class="pull-left" href="#">
                        <img style="width:200px" src="http://placehold.it/200x100" alt="...">
                    </a>
                          <div class="media-body">
                            <h4 class="media-heading">Latest Google Updates</h4>
                            <p class="author">Mike Smith</p>
                          </div>
                        </li>
                        <li class="media">
                          <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/200x100" alt="...">
                    </a>
                          <div class="media-body">
                            <h4 class="media-heading">Newest bootstrap version</h4>
                            <p class="author">Dave Hesler</p>
                          </div>
                        </li>
                        <li class="media">
                          <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/200x100" alt="...">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading">Android rolls our another update</h4>
                            <p class="author">Michael Davis</p>
                          </div>
                        </li>
                        <li class="media">
                          <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/200x100" alt="...">
                          </a>
                          <div class="media-body">
                            <h4 class="media-heading">Survey results are out</h4>
                            <p class="author">Mike Smith</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab-pane" id="tab-3">
                    <div class="wrapper-md">

                    </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="panel-footer">col-lg-12</div>
          </div>
        </div>
        <div class="col-lg-4">

        </div>
      </div>
    </div>
  </div>