<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">2013</a></li>
      <li class="active">十一月</li>
    </ol>
    <div class="wrapper-md">
      <div class="row">
        <!--广告位信息  -->
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-body">col-lg-12</div>
          </div>
        </div>
        <!--广告位信息  -->
        <!--找琴的位子  -->
        <div class="col-lg-8 col-md-12 col-sm-12">

          <div class="col-lg-12" style="padding:0">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">找乐器</div>
              <div class="panel-body">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#findInstrucment" data-toggle="tab">找乐器</a></li>
                  <li><a href="#findDelegate" data-toggle="tab">找琴行</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="findInstrucment">
                    <form role="form">
                      <div class="form-group">
                        <input type="email" placeholder="请选择乐器类型" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="请选择乐器具体分类">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="请选择品牌">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="请选择价格范围">
                      </div>
                      <button type="submit" class="btn btn-sm btn-primary">查看</button>
                    </form>
                  </div>
                  <div class="tab-pane" id="findDelegate">
                    <form role="form">
                      <div class="form-group">
                        <input type="email" placeholder="请选择乐器类型" class="form-control">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="请选择乐器具体分类">
                      </div>
                      <button type="submit" class="btn btn-sm btn-primary">查看</button>
                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!--新闻资讯  -->
          <div class="col-lg-12" style="padding:0">
            <div class="panel panel-default">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#news" data-toggle="tab">资讯</a></li>
                <li><a href="#piano" data-toggle="tab">钢琴</a></li>
                <li><a href="#guita" data-toggle="tab">吉他</a></li>
                <li><a href="#saxophone" data-toggle="tab">萨克斯</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="news">
                  <div class="figure flex-block">
                    <div class="article flex-1">
                      <h2 class="figcaption"><a href="//www.myzaker.com/article/59658de99490cb520c000038/" title="人民日报再评王者荣耀：别让网游成生活全部"> 人民日报再评王者荣耀：别让网游成生活全部</a></h2>
                      <div class="subtitle"><span>人民网</span><span>1小时前</span><span>15 评论</span></div>
                    </div>
                    <a href="//www.myzaker.com/article/59658de99490cb520c000038/" title=" 人民日报再评王者荣耀：别让网游成生活全部" class="img" style="background-image:url(//zkres2.myzaker.com/201707/59656a301bc8e0626800010a_320.jpg);"></a>
                  </div>

                  <div class="figure flex-block">
                    <div class="article flex-1">
                      <h2 class="figcaption"><a href="//www.myzaker.com/article/596583be9490cb410c000035/" title=" 银行“被逼”减免手续费 老百姓能省多少？"> 银行“被逼”减免手续费 老百姓能省多少？</a></h2>
                      <br>
                      <div class="subtitle"><span>融360</span><span>1小时前</span><span>4 评论</span></div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="piano">


                </div>
                <div class="tab-pane" id="guita">333</div>
                <div class="tab-pane" id="saxophone">444.</div>
              </div>
            </div>
          </div>

        </div>
        <!--找琴的位子  -->
        <!--广告位信息  -->
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="wow bounceInUp" data-wow-delay="0.4s">
            <div id="owl-works" class="owl-carousel">
              <div class="item"><a href="./public/img/2.jpg" title="This is an image title" data-lightbox-gallery="gallery1"><img src="./public/img/2.jpg" class="img-responsive " alt="img"></a><span> is an image title</span></div>
              <div class="item"><a href="./public/img/3.jpg" title="This is an image title" data-lightbox-gallery="gallery1"><img src="./public/img/3.jpg" class="img-responsive " alt="img"></a><span>This is an image title</span></div>
              <div class="item"><a href="./public/img/4.jpg" title="This is an image title" data-lightbox-gallery="gallery1"><img src="./public/img/4.jpg" class="img-responsive " alt="img"></a><span>This is an image title</span></div>
              <div class="item"><a href="./public/img/5.jpg" title="This is an image title" data-lightbox-gallery="gallery1"><img src="./public/img/5.jpg" class="img-responsive " alt="img"></a><span>This is an image title</span></div>
              <div class="item"><a href="./public/img/6.jpg" title="This is an image title" data-lightbox-gallery="gallery1"><img src="./public/img/6.jpg" class="img-responsive " alt="img"></a><span>This is an image title</span></div>
              <div class="item"><a href="./public/img/7.jpg" title="This is an image title" data-lightbox-gallery="gallery1"><img src="./public/img/7.jpg" class="img-responsive " alt="img"></a><span>This is an image title</span></div>
              <div class="item"><a href="./public/img/8.jpg" title="This is an image title" data-lightbox-gallery="gallery1"><img src="./public/img/8.jpg" class="img-responsive " alt="img"></a><span>This is an image title</span></div>
            </div>
          </div>
        </div>
        <!--广告位信息  -->
      </div>
    </div>
  </div>
</div>