<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">口碑信息配置</h1>
    </div>
    <div class="wrapper-md" ng-controller="FormDemoCtrl">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">
          口碑信息配置
        </div>
        <div class="panel-body">
          <form class="form-horizontal" method="get" #f="ngForm" (ngSubmit)="submit()">
            <div class="form-group">
              <label class="col-sm-2 control-label">大分类</label>
              <div class="col-sm-10">
                <select name="bigClass" class="form-control m-b" [(ngModel)]="type" (change)="typeListener()">
                <option></option>
                <option *ngFor="let t of types">{{t}}</option>
                </select>
              </div>
            </div>

            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">口碑信息</label>
              <div class="col-sm-10">
                <input ui-jq="tagsinput" id="tagsinputconfig" (change)="tagListen($event)" name="tagsName" [(ngModel)]="configs" ui-options="{ allowDuplicates: false}" class="form-control w-md" />
              </div>
            </div>
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">保存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>



 <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">口碑信息列表</h1>
    </div>
    <div class="wrapper-md">
      <div class="panel panel-default">
        <div class="panel-heading">
          比较配置信息列表
        </div>
        <div class="table-responsive">
          <table ui-jq="dataTable" class="table table-striped b-t b-b">
            <thead>
              <tr>
                <th style="width:20%">大分类</th>
                <th style="width:40%">子分类</th>
                <th style="width:25%">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tag of tags">
                <td>{{tag["type"]}}</td>
                <td>{{tag["tags"].join(",")}}</td>
                <td><button class="delete"
      (click)="update(tag); $event.stopPropagation()">x</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>